body{
    background-image: url('https://d1di04ifehjy6m.cloudfront.net/media/filer_public/67/ca/67cac7fa-1853-4f1d-95ed-db1ed6b38ec5/adobestock_212026013_2.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center;
    background-attachment: fixed;
    height:100%;
   
    
}
.totaldiv{
    display: flex;
    justify-content: space-between;

}
table, th, td {
    border: 1px solid;
    font-size: large
  }

table{
    width:100%;
    background-color: rgba(104, 103, 98, 0.5);
   

}

.table-div{
    width:60%;
    color:white;
    margin-right: 90px;
}
tr:hover {
    background-color: rgb(22, 22, 21);
}
th{
    padding:1.5rem;
    color:white;
}
td{
    text-align: center;
    height:80px;
    vertical-align: center;
    padding:1rem;
}

.heading{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    color:white;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.button-edit{
    padding: 10px 21px;
    background-color: #83b1ee;
    color: white;
    border-radius: 20px;
    height:60px;
}
.button-delete{
    padding: 1px 21px;
    background-color: #e76868;
    color:white;
    border-radius: 20px;
    height:60px;
}







.maindiv{
    background-color: rgba(223, 211, 211, 0.5);
    display:flex;
    justify-content: space-evenly;
    margin-left:10rem;
   margin-right: 10rem;
    height:100vh;
    padding:20px;
    border-radius: 20px;
    flex-wrap: wrap;
    overflow-y:auto;
   
}
.firstdiv{
 
    width:55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    
   
}
.secondiv{
    height:70%;
    width:55vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
   
}

.inputs{
    padding:15px;
    width:50vh;
    border-color: rgb(24, 23, 23);
    border-width: 2px;
    font-size: 15px;
}

#password{
    padding:15px;
    width:50vh;
    margin-bottom: 10px;
    border-color: rgb(24, 23, 23);
    border-width: 2px;
    font-size: 15px;
}

::placeholder{
    color:black;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}


.checks{
    display: flex;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px
}
input[type=checkbox] { 
    vertical-align: middle; 
    position: relative; 
    margin-right: 40px;
}
.buttondetail{
    width:50vh;
    padding: 16px;;
    font-size:15px;
    margin-top: 30px;
    color: white;
    background-color: black;
    font-weight: 900;
}
.buttondetail:hover {opacity: 1}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    color: #000;
    position: relative;
    margin-left:30px;
    font-size: large;
    
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
 

input[type="file"] {
    width: 300px;
    
  }

.error-message{
    color:red;
}



#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 2px;
}
.toast{
    width: 400px;
    height:70px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.toast text{
    padding-top: 10rem;
}
.toast i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}

.toast.invalid i{
    color: orange;
}

.toast::after{
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anime 5s linear forwards;
}

.toast.invalid::after{
    background-color: orange;
}

@keyframes anime {
    100%{
        width: 0;
    }
}




.modal{
   display: none;
   position: fixed;
   left:0;
   top:0;
   margin: auto;
   width: 100%;
   height: 100%;
   animation-direction: alternate-reverse;
   
}

/* Modal Content/Box */
.modal-content {
    
    background-color: #0a0a0ad0;
    opacity: 1;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    padding:2rem;
    font-size: larger;
    text-align: center;
    border-radius: 4rem;
    color: aliceblue;
  }

  /* The Close Button */
.close {
    color: #e2dada;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  

.optionbutton{
    padding: 1rem  2rem;
    border-radius: 2rem;
}






/* Responsive Design */
@media (max-width: 1300px) {
    .body{
        display: flex;
        justify-content: center;
    }
    .totaldiv{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .table-div{
        margin: 5rem;
    }
    .maindiv{
     width:60%;
  
   
    }
    .firstdiv{
   
     display: flex;
     flex-direction: column;
     align-items: flex-start;
    }
    #inputs{
        width:80%;
    }
    .inputs{
        width: 100%;
    }
    #inputsec{
        width:80%;
    }
    #password{
        width:80%;
    }
    .buttondetail{
        margin-top: 5rem;
    }
   
   

    
 }

 @media (max-width: 640px) {
    .body{
        display: flex;
        justify-content: center;
    
    }
    .maindiv{
     width:90%;
     margin-left: 1rem;
     
    }
    .inputs{
        width:90%;
    }
    #inputs{
        width:90%;
    }
    #inputsec{
        width:90%;
    }
    #password{
        width:90%;
    }
    
   

    
 }
 @media (max-width: 513px) {
    .body{
        display: flex;
        justify-content: center;
    
    }
    .maindiv{
     width:90%;
     margin-left: 0rem;
     
     
    }
    .inputs{
        width:70%;
    }
    #inputs{
        width:70%;
    }
    #inputsec{
        width:70%;
    }
    #password{
        width:70%;
    }
    
   

    
 }

 @media (max-width: 397px) {
    .body{
        display: flex;
        justify-content: center;
    
    }
    .maindiv{
     width:90%;
     margin-left: 0rem;
     
     
    }
    #inputs{
        width:70%;
    }
    .firstdiv{
        margin-left: 0rem;
    }
    .inputs{
        width:60%;
    }
    #inputsec{
        width:60%;
    }
    #password{
        width:60%;
    }
    
   

    
 }
